@model IEnumerable<MassageStudio.Application.Massages.Dtos.MassageToListDto>

@{
    ViewData["Title"] = "Dostępne terminy";
}

<h1>Dostępne terminy</h1>
<hr />


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Masażysta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasseurName)
                @Html.DisplayFor(modelItem => item.MasseurLastName)
            </td>
            <td class="text-center">
                    <a asp-action="Reserve" class="btn btn-primary" asp-route-id="@item.Id">Rezerwuj</a>
            </td>
        </tr>
}
    </tbody>
</table>
