@model MassageStudio.Application.Massages.Dtos.MassageDetailsDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MassageDetailsDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SetupDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetupDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasseurName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasseurName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasseurLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasseurLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasseurId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasseurId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Free)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Free)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mutable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mutable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Unreserve" asp-route-id="@Model.Id">Odmów</a>
    <a asp-action="UserTerms">Back to List</a>
</div>
