@model MassageStudio.Application.Massages.Dtos.MassageDetailsDto


<link rel="stylesheet" href="~/css/fontello/css/fontello.css" />
@{
    ViewData["Title"] = "Details";
}

<div class="h1">
    <a asp-action="UserTerms" class="btn btn-outline-dark border-3 border-dark ">
        <i class="demo-icon icon-left-open"></i>
    </a>
    <span>
        Szczegóły masażu
    </span>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Rodzaj masażu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class = "col-sm-2">
            Data
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            Imię masażysty
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasseurName)
        </dd>
        <dt class = "col-sm-2">
            Nazwisko masażysty
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasseurLastName)
        </dd>
        <dt class = "col-sm-2">
            Imię klienta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            Nazwisko klienta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientLastName)
        </dd>
    </dl>
</div>
<hr />
<div class="row">
    <a asp-action="Unreserve" class="btn btn-primary col-6 col-lg-2 m-1" asp-route-id="@Model.Id">Odmów</a>
</div>
