@model IEnumerable<MassageStudio.Application.ApplicationUser.Dtos.ApplicationUserListedDto>

@{
    ViewData["Title"] = "Zarządzaj";
}

<h1>Wszyscy użytkownicy</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
            <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id" asp-route-name="@item.Name" asp-route-lastName="@item.LastName">Zarządzaj</a>
            </td>
        </tr>
}
    </tbody>
</table>
